* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
  color: white;
  background-image: url(./assets/react-logo-half.png);
  background-repeat: no-repeat;
  background-position: right 90%;
  background-size: 200px;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

header {
  height: 90px;
  background-color: #21222A
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 30px 25px;
}

.facts {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

main {
  padding: 60px 30px;
}

.header {
  margin: 0;
  font-size: 2.4rem;
}

.ulFacts {
  margin-top: 46px;
  max-width: 400px;
}

.ulFacts > li {
  margin-block: 20px;
  line-height: 19px;
}

.ulFacts > li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
